@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
.basePage {
  position: absolute;
  top: 0;
  left: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1em;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.logo {
  width: 138px;
  height: 20px;
}
.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  color: #828282;
}
.navOptions {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
li {
  padding-right: 20px;
}
.navLogosContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menuIcon {
  display: none;
  margin-right: 1em;
}
.avatarPic {
  width: 30%;
  height: 30%;
}
.icon-cart {
  width: 20%;
}
hr {
  border: 1px solid #dedede;
  width: 90%;
  text-align: center;
}
.productSection {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.productPics {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainPicContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.picOptions {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  width: 20em;
  height: 5em;
}
.productThumbnail {
  width: 4em;
  height: 4em;
  border-radius: 10px;
  transition: 0.4s;
}
.clickProductThumbnail {
  width: 4em;
  height: 4em;
  border-radius: 10px;
  transition: 0.4s;
}
.clickProductThumbnail:hover {
  opacity: 0.6;
  border: 2px solid #eb8d00;
  margin: 3px;
  width: 5em;
  height: 5em;
}
.productThumbnail:hover {
  opacity: 0.6;
  border: 2px solid #eb8d00;
  margin: 3px;
  width: 5em;
  height: 5em;
}
.productDetail {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.companyName {
  color: #eb8d00;
  font-size: 25px;
  font-weight: 500;
  margin-top: 0;
}
.textTitle {
  font-weight: 700;
  font-size: 30px;
  width: 70%;
  margin: 0;
}
.textFollowup {
  color: #828282;
}
.prices {
  display: flex;
  align-items: center;
  width: 45%;
}
.presentPrice {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
}
.offPercent {
  color: #eb8d00;
  border: 1px solid #f2ebd8;
  border-radius: 8px;
  background-color: #f2ebd8;
  padding: 5px 10px;
  margin-left: 4em;
}
.pastPrice {
  margin: 0;
  color: #828282;
}
.order {
  display: flex;
  margin-top: 2em;
}
.orderNumber {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  border: 1px solid #dedede;
  border-radius: 8px;
  font-weight: 700;
  background-color: #f2f2f2;
  margin-right: 1em;
}
.minusIcon {
  width: 15px;
  height: 5px;
}
.plusIcon {
  width: 15px;
  height: 13px;
}
.orderButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 60%;
  border: 1px solid #c6600e;
  border-radius: 8px;
  background-color: #c6600e;
  color: white;
  font-weight: 600;
}
.orderButton:hover {
  opacity: 0.8;
}
.orderIcon {
  margin-right: 1em;
  width: 25px;
  height: 25px;
}
#clickSlideContainer {
  display: none;
  background-color: rgb(27, 27, 27, 0.9);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  height: 100vh;
  margin: 0;
}
.closeIcon {
  position: absolute;
  top: -2em;
  left: 95%;
}
.clickMainPicContainer {
  position: relative;
}
.preButton {
  border: 1px solid #e7e5de;
  background-color: #e7e5de;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  bottom: 9rem;
  left: -20px;
  cursor: pointer;
  z-index: 1;
}
.nextButton {
  border: 1px solid #e7e5de;
  background-color: #e7e5de;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  bottom: 9rem;
  right: -20px;
  cursor: pointer;
}
.mediaPreButton {
  border: 1px solid #e7e5de;
  background-color: #e7e5de;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  bottom: 45%;
  left: -20px;
  cursor: pointer;
  display: none;
  z-index: 1;
}
.mediaNextButton {
  border: 1px solid #e7e5de;
  background-color: #e7e5de;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  bottom: 45%;
  right: -20px;
  cursor: pointer;
  display: none;
}
/* after click */
.clickMainProductPic {
  width: 20em;
  height: 20em;
  border-radius: 10px;
}
.clickPicOptions {
  margin-top: 15px;
  height: 6em;
}
.mediaNavMenu {
  width: 25%;
  display: none;
  transition: ease-in;
}
.mediaNavOptions {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}
.mediaNavList {
  padding: 1.5em 3em;
  text-align: center;
  border: 1px solid #dedede;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f2f2f2;
}
.mediaNavList:hover {
  background-color: #d1803e;
}
@media screen and (max-width: 840px) {
  .menuIcon {
    display: block;
  }
  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 1em 0 1em 0;
  }
  .avatarPic {
    width: 20%;
    height: 20%;
  }
  .icon-cart {
    width: 15%;
  }
  hr {
    display: none;
  }
  .navOptions {
    display: none;
  }
  .navLogosContainer {
    width: 25%;
  }
  .productSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
  }
  .productPics {
    width: 60%;
  }
  .mainPicContainer {
    width: 100%;
    position: relative;
  }
  .mediaPreButton {
    display: block;
  }
  .mediaNextButton {
    display: block;
  }
  .clickMainProductPic {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: relative;
  }
  .picOptions {
    display: none;
  }
  .productDetail {
    width: 40%;
  }
  .textTitle {
    width: 100%;
  }
  .order {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .prices {
    width: 80%;
  }
  .orderNumber {
    width: 100%;
  }
  .orderButton {
    width: 100%;
    margin-top: 1em;
  }
}
